{% extends 'main.html' %}

{% block content %}
<div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.media}}
        {{form.as_p}}
        <!-- {% for field in form %}
        <div>
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %} -->

        <a href="{{request.META.HTTP_REFERER}}">Cancel</a>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}