{% extends 'main.html' %}

{% block content %}
<div class="container vertical-center col-8 justify-content-center align-items-center">
    <div class="d-grid">
        <div class="d-flex bg-blue pt-1 rounded-top">
            <a class="mx-3" href="{{request.META.HTTP_REFERER}}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                    <title>arrow-left</title>
                    <path
                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                    </path>
                </svg>
            </a>
            <h5 class="text-cyan">Върнете се</h5>
        </div>
        <div class="bg-grey pt-5 rounded-bottom">
            <form class="text-center px-4" method="POST" action="">
                {% csrf_token %}
                <div>
                    <p class="text-cyan">Сигурни ли сте, че искате да изтриете "{{obj}}"?</p>
                </div>

                <div class="py-5">
                    <input class="btn btn-blue text-cyan" type="submit" value="Потвърди" />
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}