{% extends 'main.html' %}

{% block content %}
<div class="d-flex row container-fluid mt-4 px-0 mx-0 mb-2">
    <!-- Authors section -->
    <div class="col mx-2 bg-blue text-center rounded d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
        {% include 'base/authors_section.html' %}

        {% include 'base/site_goal.html' %}
    </div>
    <!-- End -->

    <!-- Tales section -->
    <div class="text-center justify-content-center align-items-center col-lg-6">
        {% if request.user.is_staff %}
        <div>
            <a class="btn btn-blue m-2 text-cyan link-grey" href="{% url 'create-tale' %}">Добави приказка</a>
            <a class="btn btn-blue m-2 text-cyan link-grey" href="{% url 'create-author' %}">Добави автор</a>
        </div>
        {% endif %}

        <div class="m-3 d-lg-none d-xl-block d-xl-none">
            <form class="d-flex" role="search" method="GET" action="{% url 'all-tales' %}">
                <input class="form-control" name="q" type="search" placeholder="Търсете приказки">
                <button class="btn btn-blue text-cyan" type="submit">Търси</button>
            </form>
        </div>

        <div class="mt-5">
            <div class="d-flex m-auto text-center justify-content-center align-items-center">
                <h3 class="text-blue mx-5">Приказките на деня</h3>
                <a class="btn btn-blue mx-5 m-2 text-cyan link-grey" href="{% url 'all-tales' %}">Всички
                    приказки</a>
            </div>
            {% for tale in tales %}
            <div class="card bg-blue mb-3 m-auto" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{tale.cover.url}}" class="card-img card-img-top-custom">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="pt-2">
                                <a class="text-decoration-none text-cyan link-grey" href="{% url 'tale' tale.id %}">
                                    {{tale.title|title}}
                                </a>
                            </h5>
                            <a class="text-decoration-none" href="{% url 'author-profile' tale.author.id %}"
                                class="card-text">
                                <small class="text-grey link-cyan">
                                    {{tale.author.name}}
                                </small>
                            </a>
                            <hr>
                            <p class="card-text px-1">{{tale.body|slice:"145"|safe}}...</p>
                            <a href="{% url 'tale' tale.id %}" class="btn btn-outline-cyan">ПРОЧЕТИ</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End -->

    <!-- Activity section -->
    <div class="col bg-blue mx-2 rounded d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
        {% include 'base/recent_activity_section.html' %}
    </div>
    <!-- End -->
</div>
{% endblock %}