{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}

<div class="container-fluid vertical-center col-8 justify-content-center align-items-center">
    <div class="d-grid bg-blue rounded">
        <div>
            <h2 class="text-center text-cyan">Вход</h2>
            <form class="form-control bg-grey" method="POST" action="">
                {% csrf_token %}

                <div class="form_group">
                    <label class="text-cyan">Email:</label>
                    <input name="email" type="email" />
                </div>
                <br>
                <div class="form_group">
                    <label class="text-cyan">Парола:</label>
                    <input name="password" type="password" />
                </div>

                <div class="text-center my-3">
                    <button class="btn btn-outline-blue" type="submit">Вход</button>
                </div>
            </form>
        </div>

        <div class="text-center my-3 py-0">
            <p class="text-cyan">Нямате профил?</p>
            <a class="text-decoration-none text-grey link-cyan" href="{% url 'register' %}">Регистрирайте се</a>
        </div>
    </div>
</div>

{% else %}
<div class="container-fluid vertical-center col-8 justify-content-center align-items-center">
    <div class="d-grid bg-blue rounded">
        <div>
            <h2 class="text-center text-cyan">Регистрация</h2>
            <form class="form-control bg-grey" method="POST" action="">
                {% csrf_token %}
    
                {% for field in form %}
                <div class="form_group">
                    <label class="text-cyan">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
    
                <div class="text-center my-3">
                    <button class="btn btn-outline-blue" type="submit">Регистрация</button>
                </div>
            </form>
        </div>
    
        <div class="text-center my-3 py-0">
            <p class="text-cyan">Вече имате профил?</p>
            <a class="text-decoration-none text-grey link-cyan" href="{% url 'login' %}">Влез в него</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}