{% extends 'main.html' %}

{% block content %}
<div class="triple-container">
    <!-- Authors section -->
    {% include 'base/authors_section.html' %}
    <!-- End -->

    <!-- User's Information -->
    <div>
        <h2>{{user.name}}</h2>
        <img width="350px" height="350px" src="{{user.picture.url}}" />

        {% if user.is_staff %}
        <p>Staff member</p>
        {% endif %}

        <p>{{user.bio|safe}}</p>

    </div>
    <!-- End -->

    <!-- Activity section -->
    {% include 'base/recent_activity_section.html' %}
    <!-- End -->
</div>
{% endblock %}