{% extends 'main.html' %}

{% block content %}
<div class="d-flex row container-fluid mt-4 px-0 mx-0">
    <!-- Authors section -->
    <div class="col mx-2 bg-blue text-center rounded d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
        {% include 'base/authors_section.html' %}
    </div>
    <!-- End -->

    <!-- Profile section -->
    <div class="col-lg-6">
        <div class="text-center justify-content-center align-items-center mb-3">
            <div class="mb-3">
                <img class="profile-pic" width="150px" height="150px" src="{{user.picture.url}}" />
                <h3 class="text-blue">{{user.name}}</h3>
                <h5 class="text-grey">{{user.username}}</h5>

                {% if user.is_staff %}
                <small class="text-muted">Staff member</small>
                {% endif %}
            </div>

            <div>
                {% if request.user == user %}
                <a class="btn btn-outline-blue" href="{% url 'update-user' %}">Редактиране на профил</a>
                {% endif %}
            </div>
        </div>

        <div calss="justify-content-left align-items-start mb-3">
            <h5 class="text-grey">Информация</h5>
            <p class="text-blue">{{user.bio|safe}}</p>
        </div>

        <div calss="justify-content-left align-items-start mt-3">
            <h5 class="text-grey">Любима приказка</h5>
            <a class="text-blue link-grey text-decoration-none" href="{% url 'tale' user.favourite_tale.id %}">{{user.favourite_tale.title|title}}</a>
        </div>

        <!-- TODO: Любими приказки: ...-->
    </div>
    <!-- End -->

    <!-- Activity section -->
    <div class="col bg-blue mx-2 rounded d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
        {% include 'base/recent_activity_section.html' %}
    </div>
    <!-- End -->
</div>
{% endblock %}