<div class="bg-blue rounded-top text-center p-2">
    <h2>Последни съобщения</h2>
</div>
<div class="bg-grey py-3 mb-2 rounded">
    {% for message in user_messages %}
    <div class="border-blue d-block rounded m-2 p-2">
        <small>
            <strong>
                <a class="link-cyan text-decoration-none text-blue"
                    href="{% url 'user-profile' message.user.id %}">@{{message.user.username}}
                </a>
            </strong>
            коментира:
        </small>
        <br>
        <small>{{message.created|timesince}} ago</small>
        <br>
        <p class="bg-blue rounded p-2 my-2">
            <span>
                {{message|safe|slice:"27"}}{% if message.body|length > 20 %}...{% endif %}
            </span>
        </p>
    </div>
    {% endfor %}

    <div class="text-center">
        <a class="link-blue btn btn-cyan text-blue text-decoration-underlined" href="{% url 'forum' %}">ФОРУМ</a>
    </div>

</div>