<div class="bg-blue p-2 mt-2 rounded-top">
    <h2>Цел на сайта</h2>
</div>
<div class="bg-grey rounded-top py-3 mb-2 rounded-bottom">
    <p class="text-blue px-2">
        Здравейте, дарги читатели! Добре дошли в сайта с любими приказки за малки и големи - "FairyAll"!
        Идеята за сайта дойде още през 2018 година. Замислих се каква голяма роля играят съвременните технолии
        в нашия живот и как децата още преди да могат да говорят вече имат достъп до мобилни устройства. Книгите
        като че ли остават на заден план. И за да не се губи
        връзката на човека с четенето, реших да създам този сайт - място, на което можем да се докоснем до
        магията
        на приказките, да се потопим в един по-спокоен свят, изпълнен със мечти и спомени. Нека покажем на
        децата (а и на възрастните, които са позабравили магията на приказките), че четенето може да бъде
        интересно и увлекателно! Приятно четене!
    </p>
</div>